/* html, body {
  margin: 0;
}

div.root {
  width: 100vh;
  height: 100vh;
} */

.main {
  /* display: table;
  width: 100%; */
  /* height: 100%; */
}

.menubar {
  /* height: 100vh; */
}

.container {
  /* position: relative; */
  display: flex;
  
  /* flex: auto;
  overflow: auto; */
  /* align-items: stretch; */
  /* background: url('./image/3.jpg'); */
  background: url('./image/3.jpg');
}

.navigation {
  /* position: absolute; */
   flex:0 1 15%;
   height: 100vh;
}

.table {
   flex-grow: 1;
}



