/* .Background {
    background: url('./image/3.jpg');	
    height: 100vh;
    display: flex;
}

.page-header {
    margin-top: 0;
    justify-content: center;
}

.page-custom {
    color: #fff;
} */

.login {
    background: url('./image/3.jpg');	
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
   height: 60vh;
}