.Background {
    background: url('./image/3.jpg');	
    height: 100vh;
    display: flex;
}

.page-header {
    margin-top: 0;
    justify-content: center;
}

.page-custom {
    color: #fff;
}

.blue {
    color: white;
    background-color: deepskyblue;
}